<style>

    body {
        overflow-x: hidden;
        overflow-y: hidden;
        margin-left:0px;
    }

    /* for testing purposes (red borders on all elements)
    * {
        border: 1px solid red;
    } 
    */
    .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left:2em;
    height: 10%;
    display: flex;
    align-items: center;
    background-color: #182B40;
    color: white;
    font-weight: 600;
  }
  
  .logo-text {
    font-size:2em;
  }
    main {
        margin-left:25%;
        margin-right:25%;
        margin-top:6em;
        padding: 0 16px;
    }
    
    h1 {
        font-size:2em;
    }
    .main-text {
        font-size:1.5em;
        text-align: justify;
        text-justify: auto;
    }
    
    .main-text > b {
        font-size: 1.2em;
    }
    .split {
      display: flex;
      align-items: stretch;
    }
    
    .split img {
      max-width: 58%;
      height: auto;
    }
    
    .split > div.stretch-me {
        max-width: 38%;
        border: 0.2em #EB9500 solid;
        display:block;
        padding: 2em 2em;
    }
    
    .stretch-me > * {
        margin: 0; /* remove default margin on child elements */
        line-height: 5em;
    }
    
    .nav-button {
        text-decoration: none;
        color: white;
        margin-right:1em;
        font-size:2em;
    }

    .main-text {
        margin-top: 1em;
    }

    footer {
        position:absolute;
        background-color: #EB9500;
        width: 100%;
        bottom:0px;
        box-sizing: border-box;
        left:0px;
        color:white;
    }

    .footer1 {
        float:left;
        margin: 1% 0 1% 20%;
    }

    .footer2 {
        float:left;
        margin: 1% 0 1% 40%;
    }

    .floating-images {
        float:left;
        
    }
    .floating-images > * {
        margin-right:1em;
    }

    </style>

<body>
    <main>
    
        <!-- Toolbar -->
<div class="toolbar" role="banner">
    <img width="10%" alt="Locafy Logo" src="../../assets/LocafyCircleLogo.png" />
    <div class="spacer"></div>

    <a class="nav-button" href="#">About</a>
    <a class="nav-button" href="#">Contact</a>
    <a class="nav-button" href="/login">Sign in</a>
    <a class="nav-button" href="#">Sign up</a>
  </div>

        <p class="main-text">
            <b>Maximize Productivity, Master Logisitics</b>
            Don't settle for outdated methods. Unlock your team's scouting prowess
            with our location-specific app tailored for film and TV. Harness
            innovative tools and an engaging platform to boost efficiency
            and conquer location challenges.
        </p>
        
        <div class="split">
            <img src="../../assets/workspacePhoto.jpeg">
            <div class="stretch-me">
                <b>Assess Locations.</b> Utilize AI to determine how logistically viable a location is.<br>
                <b>Seemlessly Onboard.</b> Visualize and map your progress, reducing new team member latency. <b>Get Work Done.</b>
            </div>
        </div>

        <div class="main-text">
            <div><b>Embrace AI</b>
                Let Artifical Intelligence help you out with the tedious tasks that limit your creativity,
                and focus on the parts that are important.
            </div>
            <div><b>Automate Your Workflow</b>
                Our tools are seemlessly integrated to grant you the best user experience,
                and to provide you with all the functionality you need to improve your workflow
            </div>

        </div>

    </main>
    
    <footer>
        <div class="footer1">
            Contact<br>
            555 Lanes-view Drive, Oakville<br>
            Ontario, Canada, L6H 0P7<br><br>
            705 789 1423<br><br>
            locafy@locafy.com
        </div>
        <div class="footer2">
            Social Media<br>
            <div class="floating-images">
                <img src="../../assets/discord.png">
                <img src="../../assets/github.png">
                <img src="../../assets/instagram.png">
                <img src="../../assets/twitter.png">
            </div>
        </div>
    </footer>
</body>


